fastapi
uvicorn
sqlalchemy
pandas
numpy
scikit-learn
google-generativeai
python-multipart
python-dotenv==1.0.1
razorpay
pydantic
authlib
httpx
pyjwt
python-jose
passlib[bcrypt]
bcrypt==3.2.0
itsdangerous
psycopg2-binary
PyPDF2
